In [5]:
# sample_list를 보여준다.
sample_list = [30, 10, 20, 50, 40]
print('1, current list = ', sample_list)

1, current list =  [30, 10, 20, 50, 40]

In [6]:
# sample_list에 60을 추가한다.
sample_list.append(60) 
print('2, append(60) = ', sample_list)

2, append(60) =  [30, 10, 20, 50, 40, 60]

In [7]:
# sample_list의 가장 끝 리스트 값을 꺼내고 다시 리스트를 출력하면 마지막 값을 제외한 리스트를 보여준다.
print('3, item after pop() = ', sample_list.pop())
print('4. list after pop() = ', sample_list)

3, item after pop() =  60
4. list after pop() =  [30, 10, 20, 50, 40]

In [8]:
# sample_list를 정렬한다.
sample_list.sort()
print('5. after sort() = ', sample_list)

5. after sort() =  [10, 20, 30, 40, 50]

In [9]:
# sample_list를 뒤집는다.
sample_list.reverse()
print('6. after reverse() = ', sample_list)

6. after reverse() =  [50, 40, 30, 20, 10]

In [10]:
# sample_list에 20이 몇번째 인덱스에 있는지 확인한다.
print('7. index for 20 = ', sample_list.index(20))

7. index for 20 =  3

In [11]:
# sample_list의 2번째 인덱스에 222를 추가한다.
sample_list.insert(2, 222) 
print('8, after insert(2, 222) = ', sample_list)

8, after insert(2, 222) =  [50, 40, 222, 30, 20, 10]

In [12]:
# sample_list 안에 222를 제거한다.
sample_list.remove(222)
print('9. after remover(2, 222) = ', sample_list)

9. after remover(2, 222) =  [50, 40, 30, 20, 10]

In [13]:
# sample_list 마지막에 new_list를 추가한다.
new_list = [100, 200, 100]
sample_list.extend(new_list)
print('10. after extend([100, 20, 100]) = ', sample_list)

10. after extend([100, 20, 100]) =  [50, 40, 30, 20, 10, 100, 200, 100]

In [14]:
# sample_list 안에 100이 몇개 있는지 카운트한다.
print('11. the number of 100 = ', sample_list.count(100))

11. the number of 100 =  2

## turtle

In [18]:
import turtle 
t = turtle.Turtle()
radius_list = [100, 200, 50]
move = 20 

t.shape('turtle')

for i in range(0, len(radius_list)):
    radius = radius_list[i]
    t.circle(radius) # radius 수 만큼 원을 그린다.
    t.fd(move) # move만큼 거북이가 직진한다.
    
turtle.done()
try:
    turtle.bye()
except:
    print('turtle bye !')

turtle bye !

## Challenges

In [19]:
num_list = [] # 값을 추가할 빈 리스트를 만든다.

num_1 = int(input('Enter 1st number: '))
num_2 = int(input('Enter 2st number: '))
num_3 = int(input('Enter 3st number: '))
num_4 = int(input('Enter 4st number: '))
num_5 = int(input('Enter 5st number: '))

num_list.append(num_1) # num_list에 num_n에서 입력받은 값들을 추가한다.
num_list.append(num_2)
num_list.append(num_3)
num_list.append(num_4)
num_list.append(num_5)

sum = num_1 + num_2 + num_3 + num_4 + num_5
print(f'max: {max(num_list)}') # num_list에서 최대값을 출력한다.
print(f'min: {min(num_list)}') # num_list에서 최소값을 출력한다.
print(f'average: {sum / len(num_list)}') # num_list 값들의 합에서 길이를 나누어 평균을 구한다.

Enter 1st number: 50
Enter 2st number: 40
Enter 3st number: 90
Enter 4st number: 10
Enter 5st number: 30
max: 90
min: 10
average: 44.0

In [3]:
favorite_singers = ['IU', 'BTS'] # 두명의 가수가 있는 리스트를 생성한다.

your_favorite_singers = input('What is your favorite single? ') # 좋아하는 가수 한명을 입력 받는다.
favorite_singers.append(your_favorite_singers) # your_favorite_singers에서 입력받은 가수를 기존의 리스트에 추가한다.
favorite_singers.sort()
print(favorite_singers)

What is your favorite single? Black Pink
['BTS', 'Black Pink', 'IU']

In [4]:
five_sports_names = ('tennis', 'football', 'baseball', 'basketball', 'golf')
print(five_sports_names) 

one_of_the_sport = input('Please enter one of the sport name from above:')
print(f'{one_of_the_sport} has index number: {five_sports_names[one_of_the_sport]}')

num_input = int(input('Enter a number between 0 and 4:'))
print(five_sports_names[num_input])

('tennis', 'football', 'baseball', 'basketball', 'golf')
Please enter one of the sport name from above:football

TypeError: tuple indices must be integers or slices, not str

In [ ]:
menu = 'Americano','CaffeLatte','CaffeMocha','IcedTea'
print(f'Menu: {menu}')

item_1st = input('Enter the 1st item sold yesterday: ')
item_2nd = input('Enter the 2nd item sold yesterday: ')
item_3rd = input('Enter the 3rd item sold yesterday: ')
item_4th = input('Enter the 4th item sold yesterday: ')
item_5th = input('Enter the 5th item sold yesterday: ')
item_1st = input('Enter the 1st item sold today: ')
item_2nd = input('Enter the 2nd item sold today: ')
item_3rd = input('Enter the 3rd item sold ye: ')
item_4th = input('Enter the 4th item sold yesterday: ')
item_5th = input('Enter the 5th item sold yesterday: ')

Menu: ('Americano', 'CaffeLatte', 'CaffeMocha', 'IcedTea')
Enter the 1st item sold yesterday: item_ist = input('Enter the 1st item sold yesterday: ')